<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/category">categories</a></li>
        <!-- <li>Products</li> -->
        <li><a href="/add">+Book</a></li>
    </ul>
</nav>